.timepickerwrapper .results {
  padding: 5px;
  vertical-align: middle;
  font-size: 0.8em;
}
.results p {
  margin: 5px;
}
.timepickerwrapper svg {
  display: inline-block;
  vertical-align: middle;
}
.segment text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.segment path {
  stroke: #fff;
  cursor: pointer;
}
 .segment.active path {
  cursor: pointer;
  stroke: #fff;
  fill: #ff5070 !important;
}
.segment:hover path {
  opacity: 0.5
}
.segment text {
  cursor: pointer;
}
.hourLabel {
  fill: #ff5070;
  font-size: 1.2em;
}
.minuteLabel {
  fill: grey;
  text-anchor: middle;
  font-size: 0.6em
}
.boundaryLine {
  stroke: #ff1c64;
  stroke-width: 3
}